* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#navlogo{
    padding-top: 15px;
    width: 70px;
    height: 70px;
}
.navt li a{
    color: white;
}
.real_nav {
    background-color: rgba(0,0,0,0.93);
    width: 100%;
    height: 100px;
    font-weight: 900;
    position: fixed;
}


.real_nav ul {
    width: 95%;
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.real_nav li {
    font-family: "Syncopate", sans-serif;
    font-size: 21px;
    display: inline-flex;

}

.real_nav li a:hover{
 color: #717FFF;

}


.real_nav li:nth-child(1){
margin-right: 10rem;
}

.real_nav li:nth-child(2) {
    margin-right: 6rem;
}

.real_nav li:nth-child(3) {
    margin-right: 6rem;

}

.real_nav li:nth-child(4) {
    margin-right: 6rem;

}



nav li:nth-child(5) {
    margin-right: 10rem;

}

nav li:nth-child(6) {


}

.real_nav a{
    }

