* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.navt li a{
    color: white;
}
nav {
    background-color: black;
    width: 100%;
    height: 4rem;
    font-weight: 900;
    position: fixed;
}


nav ul {
    width: 80%;
    height: 3rem;
    margin: 0 auto;


}

nav li {
    font-family: "Syncopate", sans-serif;
    display: inline-block;
    padding-top: 1.5rem;
    margin-left: 2rem;

}

nav li:nth-child(2) {
    margin-left: 3rem;

}

nav li:nth-child(3) {
    margin-left: 3rem;
}

nav a{
    color: red;

}

.r_contents {
    margin: 0 auto;
    width: 80%;
    height: 100rem;
}