.r_contents {
    width: 100%;
}

.card_01 {
    width: 100%;
    height: 50rem;
    padding-top: 12rem;
    overflow: hidden;
    background-color: #0B2752;
}

#top {
    margin-left: 32rem;
}

.card_01 h1 {
    padding-left: 24rem;
    color: white;
    text-align: center;
    float: left;
    margin: 0 auto;
    font-size: 100px;
    line-height: 6rem;
    font-family: 'Modak', cursive;
}


.contents #bottom {
    margin-top: 7rem;
}

#btn {
    width: 13rem;
    margin: 0 auto;
}

#btn #first_btn {
    width: 13rem;
    background-color: white;
    height: 3.5rem;
    color: #717FFF;
    font-family: "Syncopate", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    border-radius: 2rem;
    border: none;
    text-align: center;
    line-height: 3.5rem;
}

#first_btn a, #second_btn a, #third_btn a {
    padding: 20px;
}

#btn #second_btn {
    margin-top: 1rem;
    width: 13rem;
    background-color: white;
    height: 3.5rem;
    color: #717FFF;
    font-family: "Syncopate", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    border-radius: 2rem;
    border: none;
    text-align: center;
    line-height: 3.5rem;
}

#btn #third_btn {
    margin-top: 1rem;
    width: 13rem;
    background-color: white;
    height: 3.5rem;
    color: #717FFF;
    font-family: "Syncopate", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    border-radius: 2rem;
    border: none;
    text-align: center;
    line-height: 3.5rem;
}

#btn #first_btn:hover, #btn #second_btn:hover {
    background-color: #717FFF;
    color: white;
}

.card_02 {
    width: 100%;
    height: 50rem;
    background-color: white;

}

.card_02 h3, .card_03 h3, .card_04 h3, .card_05 h3 {
    margin-left: 10rem;
    font-family: 'Knewave', cursive;
    color: #F3F3F3;
    font-size: 3rem;
    padding-top: 8rem;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.card_02 h1, .card_03 h1, .card_04 h1, .card_05 h1 {
    margin-left: 10rem;
    font-family: 'yg-jalnan', "cursive";
    font-size: 4rem;
    width: 30%;
    color: #0B2752;
}

.card_04 h1 {
    color: white;
}

.card_04 h3 {
    color: #1B4382
}

.card_02 p, .card_03 p, .card_04 p, .card_05 p {
    margin-left: 10rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
    color: #0B2752;
    font-family: "Noto Sans KR", sans-serif;
}

.card_04 p {
    color: white;
}

.card_02 #lf {
    background-color: #0B2752;
    width: 16rem;
    height: 4rem;
    margin-left: 10rem;
    margin-top: 2rem;
    border-radius: 3rem;
    text-align: center;
    line-height: 4rem;
}

.card_02 #lf:hover {
    background-color: #717FFF;
}

.card_02 a {
    color: white;
    font-family: "Syncopate", sans-serif;
    font-weight: 900;
    font-size: 1rem;

    line-height: 3.5rem;


}


.vid_01 {
    background-color: white;
    width: 100%;
}

.vid_01 video {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}


.card_02 p span, .card_03 p span, .card_04 p span {
    font-weight: 700;
}

.card_03 {
    width: 100%;
    height: 45rem;
    background-color: white;
}

.card_04 {
    width: 100%;
    height: 45rem;
    background-color: #0B2752;
}

.card_05 {
    background-color: #E5E5E5;
    width: 100%;
    height: 40rem;
}

#ant{
    width: 500px;
    height: 300px;
}
footer {
    width: 100%;
    height: 20rem;
    background-color: #c4c4c4;
    color: white;
}

footer h1 {
    color: black;
    padding-left: 45%;
    padding-top: 7rem;
}