{% extends 'main/base.html' %}

{% block style %}
    <style>
        @font-face {
            font-family: 'yg-jalnan';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        .text {

            padding-top: 28rem;
            margin-bottom: 3rem;
            font-family: 'yg-jalnan', "cursive";
            color: #0B2752;
            font-size: 37px;
            font-weight: 900;
            display: block;
            text-align: center;
        }

        button {
            border: none;
            border-radius: 3rem;
            width: 540px;
            height: 70px;
            text-align: center;
            background-color: #0B2852;
            font-family: 'yg-jalnan', "cursive";
            font-size: 20px;
            font-weight: 900;
            display: block;
            margin: 0 auto;
        }

        button a{
            color: white;
            padding: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    <div>
        <div class="text">
            비밀번호가 변경되었습니다
        </div>
        <button><a href="{% url 'create_profile:login' %}">로그인하러 가기</a></button>
    </div>

{% endblock %}