{% extends 'main/base.html' %}

{% block style %}
    <style>
        @font-face {
            font-family: 'yg-jalnan';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        .text {

            padding-top: 10rem;
            margin-bottom: 3rem;
            font-family: 'yg-jalnan', "cursive";
            color: #0B2752;
            font-size: 1.5rem;
            font-weight: bold;
            display: block;
            text-align: center;
        }

        button {
            border: none;
            width: 200px;
            border-radius: 30px;
            height: 56px;
            text-align: center;
            font-family: 'yg-jalnan', "cursive";
            font-size: 16px;
            font-weight: 500;
            display: block;
            margin: 0 auto;
        }
    </style>
{% endblock %}
{% block content %}
    <div>
        <div class="text">
            비밀번호가 재설정 되었습니다.
        </div>
        <button><a href="{% url 'create_profile:login' %}">로그인해주세요.</a></button>
    </div>

{% endblock %}