{% extends 'main/base.html' %}
{% block style %}
    <style>
        @font-face {
            font-family: 'yg-jalnan';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        .change_pw {
              font-family: 'yg-jalnan', "cursive";
            color: #0B2752;
            font-size: 2rem;
            font-weight: bold;
            display: block;
            text-align: center;
        }
     input{
         display: block;
       width: 460px;
        border: solid 1px #b0bec9;
        height: 50px;
        margin: 2rem auto 0;
     }
    button{

        margin-top: 4rem;
        background-color:#0B2752;
        border: none;
        color: white;
        width: 460px;
        height: 56px;
        text-align: center;
        font-family: 'yg-jalnan', "cursive";
        font-size: 20px;
        font-weight: 500;
        margin-left: 4.5rem;
    }
    .form{
        padding-top: 7rem;
        width: 600px;
        margin: 0 auto;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="form">
    <form method="POST">{% csrf_token %}
        <p class="change_pw">비밀번호 변경</p>

        <input name="old_password" placeholder=" 이전 비밀번호" type="password" id="id_old_password" required="true">
        <input name="new_password1" placeholder=" 변경할 비밀번호" type="password" id="id_new_password1" required="true">
        <input name="new_password2" placeholder=" 비밀번호 확인" type="password" id="id_new_password2"
               required="true">

        {% for field in form %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}

        <button type="submit">변경하기</button>
    </form>
    </div>


{% endblock %}