{% extends 'main/base.html' %}

{% block style %}
    <style>
        @font-face {
            font-family: 'yg-jalnan';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }


        .text {
            font-family: 'yg-jalnan', "cursive";
            color: #0B2752;
            font-size: 27px;
            font-weight: 900;
            display: block;
            text-align: center;
            padding-top: 11rem;
            width: 540px;
            margin: 0 auto;
            padding-bottom: 2rem;
        }
     input{

         display: block;
        width: 540px;
        border: solid 1px #b0bec9;
         margin: 0 auto;
        height: 60px;
         margin-bottom: 5rem;
     }
        button, .button_2{
            border: none;
            width: 540px;
            height: 60px;
            text-align: center;
            font-family: 'yg-jalnan', "cursive";
            font-size: 20px;
            font-weight: 900;
            display: block;
            margin: 0 auto;
            margin-bottom: 2rem;
            background-color: #0B2852;
            color: white;
    }

        #id_email{
            padding-left: 20px;
            width: 520px;
        }
        .form{
            padding-top:11rem;
            margin: 0 auto;
        }
        button a{
            color: white;
            padding: 20px;

        }

        button:hover, .button_2:hover{
            background-color: orangered;
        }



    </style>
{% endblock %}
{% block content %}
    <div class="form">


    <form method="POST">{% csrf_token %}
        <h1 class="text">
            회원가입 시 등록한 이메일을 입력해주세요
        </h1>

        <input name="email" placeholder=" 이메일 주소를 입력해주세요." type="email" id="id_email">

        <input class="button_2" type="submit" value="메일 전송">
        <button><a href="{% url "create_profile:login" %}">로그인 돌아가기</a></button>

    </form>

</div>

{% endblock %}