{% extends 'main/base.html' %}
{% block style %}
    <style>
            @font-face {
            font-family: 'yg-jalnan';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

    .change_done{
            font-family: 'yg-jalnan', "cursive";
            padding-top: 10rem;
            color: #0B2752;
            font-size: 2rem;
            font-weight: bold;
            display: block;
            text-align: center;
    }
    .go_calendar{
    width: 250px;
    height: 56px;
    border-radius: 20px;
    padding: 10px;
        display: block;
    border: solid 1px #6570CE;
    margin: 3rem auto 0;
    background-color: #0B2752;
    }
    .go_calendar a{
     padding: 20px;
    color: white;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 800;
    font-size: 1rem;
}
    </style>
{% endblock %}
{% block content %}

		<div class="change_done">
    비밀번호 변경이 완료되었습니다!<br>
    마음껏 야호를 즐겨주세요.</div>

{#    캘린더 등록하러가기 버튼 없애도 된다요#}
    <button class="go_calendar"><a href="{% url 'cal:calendar' today_date %}">캘린더 등록하러 가기</a></button>


{% endblock %}