{% extends 'main/base.html' %}
{% block style %}
    <style>
        @font-face {
            font-family: 'yg-jalnan';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        .change_btn {
            padding: 20px;
            margin-top: 2rem;
            width: 350px;
            height: 56px;
            line-height: 20px;
            border: solid 1px #6570CE;
            background-color: #717FFF;
            color: white;
            border-radius: 5px;
            font-family: "Noto Sans KR", sans-serif;
            font-weight: 800;
            font-size: 1rem;
            text-align: center;
        }



        input {
            display: block;
            width: 350px;
            border: solid 1px #b0bec9;
            margin: 0 auto;
            height: 50px;
              font-family: "Noto Sans KR", sans-serif;
            font-size: 1.3rem;
        }
        input[name="new_password1"]{
            margin-bottom: 2rem;
        }

        form {
            padding-top: 3rem;
            width: 600px;
            margin: 0 auto;
        }


        label {
            display: block;
            font-family: 'yg-jalnan', "cursive";
            font-size: 1.3rem;
            text-align: center;
            margin-bottom: 1rem;;

        }

    </style>
{% endblock %}
{% block content %}
    <div class="form">
        <h2>새 비밀번호 입력</h2>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {#                {{ form.as_table }}#}
                <label for="id_new_password1" style="margin-top: 4rem;">새 비밀번호</label>
                <input type="password" name="new_password1" required="" id="id_new_password1">
                <label for="id_new_password2">비밀번호 확인</label>
                <input type="password" name="new_password2" required="" id="id_new_password2">
            </table>
            <input type="submit" value="변경하기" class="change_btn"/>
        </form>
    </div>
{% endblock %}