{% extends 'main/base.html' %}
{% block style %}
    <style>
        @font-face {
            font-family: 'NEXON Lv1 Gothic OTF';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'yg-jalnan';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        .text {
            padding-top: 25rem;
            font-family: "yg-jalnan",'sans-serif';
            color: #0B2752;
            font-size: 37px;
            width: 1500px;
            line-height: 40px;
            font-weight: 900;
            display: block;
            text-align: center;
            margin: 0 auto;
        }

        #isit{
            color: #cccccc;
            padding-top: 2rem;
            font-size: 27px;
            margin: 0 auto;

        }
        button {
            border: none;
            width: 300px;
            height: 70px;
            text-align: center;
            font-family:"yg-jalnan",'sans-serif';
            background-color: #0B2852;
            font-size: 20px;
            font-weight: 900;
            display: block;
            margin: 0 auto;
            margin-top: 7rem;
            border-radius: 3rem;
        }

        button:hover{
            background-color: orangered;
        }


        button a{
            color: white;
            padding: 30px;
        }
    </style>
{% endblock %}

{% block content %}


        <div class="text">

            <p>

            입력하신 이메일로 비밀번호 변경 안내 이메일을 전송하였습니다<br/>
            <p id="isit">메일을 받지 못하셨다면 입력하신 이메일이 올바른지
            다시 한번 확인해주시고 스팸 메일함을 체크해주세요</p>
                </p>
            <button><a href="{% url 'main:first' %}">홈으로 돌아가기</a></button>
        </div>


{% endblock %}