{% extends 'main/base.html' %}

{% block style %}
    <style>
        @font-face {
            font-family: 'yg-jalnan';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }


        .text {
            font-family: 'yg-jalnan', "cursive";
            color: #0B2752;
            font-size: 1.5rem;
            font-weight: bold;
            display: block;
            margin-bottom: 3rem;
            text-align: center;
        }
     input{
         display: block;
        width: 460px;
        border: solid 1px #b0bec9;
        height: 50px;
        margin: 2rem auto 0;
     }
        button, .button_2{
        border: none;
        width: 150px;
             border-radius: 20px;
        height: 40px;
        text-align: center;
        font-family: 'yg-jalnan', "cursive";
        font-size: 16px;
        font-weight: 500;
            display: block;
            margin: 2rem auto 0;
    }

    .form{
        padding-top: 8rem;
        margin: 0 auto;
    }
    button a{
        color: black;
        padding: 20px;
    }

    </style>
{% endblock %}
{% block content %}
    <div class="form">


    <form method="POST">{% csrf_token %}
        <div class="text">회원가입 시 등록한 이메일을 입력해주세요.<br>
            해당 이메일에서 비밀번호 변경이 가능합니다!
        </div>
        <input name="email" placeholder=" 이메일 주소를 입력해주세요." type="email" id="id_email">

        <button><a href="{% url "create_profile:login" %}">취소</a></button>
        <input class="button_2" type="submit" value="메일 전송">

    </form>

</div>

{% endblock %}