{% extends 'main/base.html' %}
{% block style %}
    <style>
        @font-face {
            font-family: 'yg-jalnan';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        .change_done {
            font-family: 'yg-jalnan', "cursive";
            padding-top: 25rem;
            color: #0B2752;
            font-size: 20px;
            font-weight: 900;
            display: block;
            text-align: center;
            margin-bottom: 3rem;
        }

        .go_main {
            width: 300px;
            height: 70px;
            border-radius: 3rem;
            display: block;
            margin: 0 auto;
            border: none;
            background-color: #0B2752;
        }

        .go_main:hover{
        background-color: orangered;}
        .go_main a {

            padding: 20px;
            color: white;
            font-family: "yg-jalnan", sans-serif;
            font-weight: 900;
            font-size: 20px;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="change_done">
        <h1>비밀번호 변경이 완료되었습니다</h1>
    </div>

    {#    캘린더 등록하러가기 버튼 없애도 된다요#}
    <button class="go_main"><a href="/">홈으로 돌아가기</a></button>


{% endblock %}