{% extends 'main/base.html' %}
{% load static %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 위에꺼 없으면 EDIT 가 밑에뜸.. -->


{% block content %}

<div style="height: 100px; margin: 0 auto;"></div>
    <button><a href="{% url 'photo:create' %}">글 등록하기</a></button>
    <button><a class="nav-link" href="{% url 'photo:like_list' %}">스크랩한 사진보기</a></button>
    <button><a href="{% url 'photo:my_list' %}">내 스토리</a></button>

<div class='community_content' style="margin-top: 40px;">
    {% if messages %}
        <div style="width:800px">
            {% for message in messages %}
            <div class="alert alert-{{message.tag}}">{{message}}</div>
            {% endfor %}
        </div>
    {% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

{% block photo%}
{% endblock %}

{% endblock %}

{% block javascript %}
{% endblock javascript%}




