{% extends 'main/base.html' %}
{% load static %}
{% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'photo/photo_update.css' %}">

{% endblock %}
{% block content %}
    <div id="all">
    <div id="sub">
        <h1>게시글을 수정해주세요</h1>
        <form action="" method="post" enctype='multipart/form-data' autocomplete="off">
            {% csrf_token %}
            <table>
                {{ form.as_p }}
            </table>
            <input id="last" type="submit" value="UPDATE">
            <button id="del" type="submit" value="DELETE"><a href="{% url 'photo:delete' object.id %}">DELETE</a></button>
        </form>
    </div>
    </div>
{% endblock %}
