{% extends 'main/base.html' %}
{% load static %}
{% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'photo/photo_detail.css' %}">

{% endblock %}
{% block content %}
<div id="all">
            <div id="editbtn">
            {%if object.author == request.user.user_profile %}
            <button class="button_7"><a href="{% url 'photo:update' object.id %}">EDIT</a></button>
            {%endif%}
            </div>
            <div id="imgwrap">
                {% if object.image %}
                <img src=" {{ object.image.url }}" alt="...">
                {% endif %}
            </div>

    <div id="wrap4">


            <ul>
                <li>
                    {% if object.like.all.count %}
                        <span>{{object.like.all.count}}</span>
                        {% endif %}
                        <a href="{% url 'photo:like' object.id %}" class="{%if user in object.like.all %} active {%endif%}">좋아요!</a>

                    </li>

            <p> {{ object.text }} </p>
                <li>{{ object.created }}</li>

            </ul>



    </div>

<div id="comment">
    댓글 쓰는 칸입니다요!

</div>

</div>
{% endblock %}