{% extends 'main/base.html' %}
{% load static %}
{% block style %}
            <link rel="stylesheet" type="text/css" href="{% static 'photo/photo_my list.css' %}">

{% endblock %}
{% block content %}


           <div class="row">
               {% for object in object_list %}
               {% if object.author == request.user %}
               <figure class="col-md-4">
                   <div style="width: 18rem;">
                       <img src="{{object.image.url}}" class="card-img-top" alt="...">
                   </div>
               </figure>
               {% endif %}
               {% endfor %}
           </div>




{% endblock %}

