{% extends 'photo/base.html' %}
{% load static %}

{% block anotherstyle %}


{% endblock %}



{% block photo %}
    <h1 id="title">YAHO COMMUNITY</h1>
    <div id="wrap05">
        <div class="topbtn">
            {% if user.is_authenticated %}
                <button id="gg"><a href="{% url 'photo:create' %}">글 등록하기</a></button>
                <button id="gd"><a class="nav-link" href="{% url 'photo:like_list' %}">좋아요한 사진보기</a></button>
            {% endif %}
        </div>

        <div class="community_content">
            {% for object in object_list %}

                <div id="box"><a href="{% url 'photo:detail' object.id %}">
                    <div id="photo">
                        {% if object.image %}
                            <img src="{{ object.image.url }}" alt="...">
                        {% endif %}
                    </div>

                    <ul>
                        <li>
                            <a href="{% url 'photo:like' object.id %}"
                               class="{% if user in object.like.all %} active {% endif %}"><i class="fas fa-heart"></i></a>
                            {% if object.like.all.count %}
                                <span>{{ object.like.all.count }}</span>
                            {% endif %}
                        </li>

                </div>

            {% endfor %}

            </a>

        </div>
    </div>
{% endblock %}
