

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal; }

.r_contents{
    height: 1100px;
    width: 80%;
    margin: 0 auto;
}

#goalall{
    width: 600px;
    margin: 0 auto;
}

#plz {
    padding-top: 15rem;
    color: #0B2752;
    margin: 0 auto;
    text-align: center;
    font-family: 'yg-jalnan', "cursive";
    font-size: 37px;
    padding-bottom: 8rem;
}

#myRange{
    width: 540px;
    height: 30px;
    margin: 0 auto;
}

p{
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 5rem;
}


form{
    width: 540px;
    margin: 0 auto;
}
#lifegoal{
    color: #0B2752;
    font-weight: 700;
    font-size: 25px;
    font-family: "yg-jalnan", 'sans-serif';

}

#lifegoal span{
    color: #717FFF;
}


#goalbtn{
    width: 540px;
    margin: 0 auto;
}

#goalsave{
        background-color: #0B2752;
        border: none;
        color: white;
        width: 540px;
        height: 60px;
        text-align: center;
        font-family: "Syncopate", sans-serif;
        font-size: 20px;
        font-weight: 700;
}

#goalsave:hover{
    background-color: orangered;
}

#des{
    border-top: 5px solid #717FFF;
    margin-top: 10rem;
    font-size: 30px;
    text-align: left;
    padding-top: 2rem;
    color: #717FFF;

}

#des span{
    color: #717FFF;
    font-family: "yg-jalnan",'sans-serif';
}

#des_p{
    color: #717FFF;
    text-align: left;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    line-height: 35px;
    font-weight: 700;
}