    * {
        margin: 0;
        padding: 0;
    }

    form {
        padding-top: 1rem;
        width: 600px;
        margin: 0 auto;
    }

    #logoimg {
        padding-top: 11rem;
        text-align: center;

    }

    .formbox {
        margin: 0 auto;
    }


    input {
        width: 460px;
        height: 50px;
        border: solid 1px #b0bec9;

    }

    button {
        margin-top: 2rem;
        width: 460px;
        height: 60px;
    }


    #save {
        margin-top: 4rem;
        background-color: #717FFF;
        color: white;
        width: 460px;
        height: 56px;
        line-height: 56px;
        text-align: center;
        font-family: "Noto Sans KR", sans-serif;
        font-size: 20px;
        font-weight: 700;
    }

    #save:hover{
        background-color: orangered;
    }

    #google_login img {
        width: 50px;
        height: 50px;
        line-height: 60px;
        padding-top: 5px;
        padding-left: 40px;
    }

    #google_login {
        margin-top: 1rem;
        background-color: #e0e0e0;
        border: none;
        color: white;
        width: 460px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        display: inline-flex;
        font-family: "Noto Sans KR", sans-serif;
        font-size: 20px;

        font-weight: 700;

    }

    #google_login span {

        display: inline-block;

    }

    #google_login:hover {
        background-color: orange;
    }

    #google_login a {
        color: white;
        line-height: 60px;
        padding-left: 60px;
    }

    #logbtn {
        margin-left: 4.5rem;
    }

    input[type=password] {
        font-family: "Noto Sans KR", sans-serif;
    }

    footer {
        display: none;
    }

    ul {
        list-style: none;
    }

    li {

        #line-height: 30px  ;

    }


    #id_username {
        width: 460px;

    }

    #id_password {
        width: 460px;

    }

    #box {
        margin: 0 auto;

        width: 460px;
    }

    #box input {

        width: 460px;
        margin-top: 2rem;
    }

    #error {
        font-size: 13px;
        color: #c2185b;
        font-weight: bolder;
        margin-left: 4.5rem;
        padding: 0;
        font-family: "Noto Sans KR", sans-serif;
    }

    #forget_password {
        font-family: "Noto Sans KR", sans-serif;
        margin-top: 1rem;
        font-weight: bolder;
        color: black;
        border: none;
background-color: #e0e0e0;
    }
#forget_password:hover{
    background-color: orange;
}
    #forget_password a{
        color: white;
        font-size: 20px;
    }
