{% extends 'cal/base.html' %}


{% block content %}



    {% block content_cal %}
        <div id="cal">
            <div class="clearfix">
                <a class="btn btn-info left" href="{% url 'cal:calendar' %}?{{ prev_month }}"> Previous Month </a>
                <a class="btn btn-info middle" href="{% url 'cal:event_new' %}"> New Event </a>
                 <a class="btn btn-info right" href="{% url 'cal:calendar' %}?{{ next_month }}"> Next Month </a>

            </div>
          {{ calendar }}
        </div>
    {% endblock %}






    {#    top 830px로 줬는데 만약 사용자가 하루에 7개 이상 등록해서 달력의 높이가 높아지면 문제가-> today리스트 값이 달력 위로 올라감#}
    <div class="contain">
        <div class="today_list_total">

            <p class="today">Today</p>


            {% if today_list.today_list_items|length %}
                {% for list in today_list.today_list_items %}
                    <div class="today_list_item">
                        <span>{{ list.title }}</span>
                        <span class="each_rating">{{ list.rating }}</span>

                    </div>
                {% endfor %}
                </div>

                <div class="today_rating">
                    <h1>TOTAL</h1>
                    {% for value in today_list.today_list_rating_sum %}
                        {{ value }}
                    {% endfor %}
                </div>

            {% else %}
                <h5>오늘 등록한 뱃지가 없습니다😥</h5>
            {% endif %}

{#                    {{ object_list.today_list_items }}#}
            <div class="go_dashboard">
                {#  추후 url추가해서 만약 user가 7일 이상 활동했으면 dashboard보여주고 아니면 7일 후 볼 수 있다는 안내 페이지로 이동#}
                <button><a href="{% url 'cal:dash' %}">뭐 보러 가볼래?</a></button>
            </div>

        </div>

{% endblock %}