<ul>
    {% for event in events %}
        <li>{{ event }}</li>
    {% endfor %}
{#////#}
{#    {% for one_selectevent in one_select_events %}#}
{#        <li>{{ one_selectevent }}</li>#}
{#    {% endfor %}#}
{#//#}
{#    {% for two_selectevent in two_select_events %}#}
{#        <li>{{ two_selectevent }}</li>#}
{#    {% endfor %}#}
{#//#}
{#    {% for three_selectevent in three_select_events %}#}
{#        <li>{{ three_selectevent }}</li>#}
{#    {% endfor %}#}
{#//#}
{#    {% for four_selectevent in four_select_events %}#}
{#        <li>{{ four_selectevent }}</li>#}
{#    {% endfor %}#}
{#//#}
{#    {% for five_selectevent in five_select_events %}#}
{#        <li>{{ five_selectevent }}</li>#}
{#    {% endfor %}#}
{#//#}
{#    {% for six_selectevent in six_select_events %}#}
{#        <li>{{ six_selectevent }}</li>#}
{#    {% endfor %}#}
{#//#}
{#    {% for seven_selectevent in seven_select_events %}#}
{#        <li>{{ seven_selectevent }}</li>#}
{#    {% endfor %}#}

    {{ count }}
{#    {{ all_count }}#}
{#    {{ mean_value }}#}
{#    {{ count }}#}
{#    //////#}
{#    {% for future_event in future_events %}#}
{#        <li>{{ future_event }}</li>#}
{#    {% endfor %}#}
{# 레전드,,,,, 미쳤다.... #}
</ul>
