{% extends 'cal/base.html' %}


{% block content %}
    <div style="height: 100px"></div>
    <div id="go_up"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
{{ today }}
    {{ year }}
    <div class="line"> '당신이 등록한 라이프 뱃지'를 활용하여 여러관점에서의 통계 데이터들을 한곳에 모았습니다. </div>
    <br/>
    <br/>

    <div class="dash_detail" style="text-align: center">
        <button><a href="{% url 'cal:dash_detail' %}"> 한 눈에 보러가기 </a></button>
    </div>

    <br/>
    <br/>
{#    {{ today }}#}
{#{{ one_days_ago }}#}



    <h2 class="first_string">★이번달 라이프 현황★ </h2>
    <br/>

    {% for value in wanted_goal %}
        <h4 class="user_goal_des">라이프 목표 뱃지 개수 |
            <div class="user_goal_number"></div>
            <div class="goal">
                {{ value.goal_count }}개
{#                <button><a href="{% url 'create_profile:goal_get' %}">수정하기</a></button>#}
            </div>

        </h4>

        <div class="mychart0" style="width:700px; height: 200px ">
            <canvas id="myChart0"></canvas>
        </div>


        <script>
            var ctxx = document.getElementById("myChart0").getContext('2d');
            var myChart0 = new Chart(ctxx, {
                type: 'horizontalBar',
                data: {
                    labels: ["목표뱃지", "현재뱃지"],
                    datasets: [{
                        {#label: 1,#}
                        {#라벨 안쓰고 싶은데... ?#}
                        data: [{{ value.goal_count }}, {{ing}}],
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(54, 162, 78, 0.2)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(10, 162, 78, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio: false, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
                    scales: {
                        xAxes: [{
                            ticks: {
                                beginAtZero: true,
                                max: 100
                            }
                        }]
                    }
                }
            });
        </script>





    {% endfor %}


    <br/>
    <br/>

    <h2 class="second_string">★최근 7일간 라이프 현황★ </h2>
    <br/>

    <h4 style="text-align: center">지난 7일간 모은 라이프 뱃지들을 살펴볼까요?</h4>
    <div class="mychart" style="width:600px; height:400px"><canvas id="myChart"></canvas></div>

    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{{year}},'안되네요' , "ㅠㅠ", "왜", "안되냐고 ㅠ", "8/12", "8/13"],
                {# labels 날짜 좀 바뀌어라 제발 #}
                datasets: [{
                    {#label: 1,#}
                    {#라벨 안쓰고 싶은데... ?#}
                    data: [{{one_total}}, {{two_total}}, {{three_total}}, {{ four_total }}, {{five_total}}, {{six_total}}, {{seven_total}}],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: false,
                },
                maintainAspectRatio: true, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            fontSize: 15
                        }
                    }]
                }
            }
        });
    </script>
        <h4 style="text-align: center">지난 7일간 최고의 순간!</h4>
        <div style="text-align: center">{{ best1_start_time }}</div>
        <div style="text-align: center">{{ select_event_str }}</div>
    <br/>
    <br/>
    <br/>



    <h4 style="text-align: center">지난 7일간 어떤 카테고리의 라이프를 가장 많이 즐겼나요?</h4>
    <br/>
    <div class="mychart9" style="width:800px; height:500px; margin: 0 auto; "><canvas id="myChart9"></canvas></div>

    <script>
        var ctx = document.getElementById("myChart9").getContext('2d');
        var myChart9 = new Chart(ctx, {
            type: 'bubble',
            data: {
                labels: "?",
                datasets: [
                    {
                      label: ["운동"],
                      backgroundColor: "rgba(255,221,50,0.2)",
                      borderColor: "rgba(255,221,50,1)",
                      data: [{
                        x: {{exercise_field_count}},
                        y: 1,
                        r: 3*{{ value1 }} +3
                      }]
                    }, {
                      label: ["여행"],
                      backgroundColor: "rgba(60,186,159,0.2)",
                      borderColor: "rgba(60,186,159,1)",
                      data: [{
                        x: {{travel_field_count}},
                        y: 1,
                        r: 3*{{ value2 }}+3
                      }]
                    }, {
                      label: ["기타"],
                      backgroundColor: "rgba(644,90,159,0.2)",
                      borderColor: "rgba(644,90,159,1)",
                      data: [{
                        x: {{etc_field_count}},
                        y: 1,
                        r: 3*{{value3}} +3
                      }]
                    }, {
                      label: ["친구"],
                      backgroundColor: "rgba(32,322,159,0.2)",
                      borderColor: "rgba(32,322,159,1)",
                      data: [{
                        x: {{friend_field_count}},
                        y: 1,
                        r: 3*{{value4}}+3
                      }]
                    } ,{
                      label: ["자기계발"],
                      backgroundColor: "rgba(12,99,159,0.2)",
                      borderColor: "rgba(12,99,159,1)",
                      data: [{
                        x: {{self_field_count}},
                        y: 1,
                        r: 3*{{value5}}+3
                      }]
                    }, {
                      label: ["취미생활"],
                      backgroundColor: "rgba(644,90,159,0.2)",
                      borderColor: "rgba(644,90,159,1)",
                      data: [{
                        x: {{hobby_field_count}},
                        y: 1,
                        r: 3*{{value6}}+3
                      }]
                    }, {
                      label: ["여가생활"],
                      backgroundColor: "rgba(255,221,50,0.2)",
                      borderColor: "rgba(255,221,50,1)",
                      data: [{
                        x: {{leisure_field_count}},
                        y: 1,
                        r: 3*{{value7}}+3
                      }]
                    }, {
                      label: ["일"],
                      backgroundColor: "rgba(12,99,159,0.2)",
                      borderColor: "rgba(12,99,159,1)",
                      data: [{
                        x: {{work_field_count}},
                        y: 1,
                        r: 3*{{value8}}+3
                      }]
                    }
                ]
            },
            options: {
                title: {
                display: false,
            }, scales: {
                yAxes: [{
                    ticks: {
                            beginAtZero: true,
                            stepSize: 3,
                            max: 2,
                            display:false
                        },
                    scaleLabel: {
                    display: false,
              }
            }]
        ,
                xAxes: [{
                     ticks: {
                            beginAtZero: true,
                            fontSize: 15,
                            max:10,
                            stepSize:1
                        },
                    scaleLabel: {
                    display: true,
                    labelString: "GDP (PPP)",
              }
            }]
          }
        }
    });
    </script>


    <h4 style="text-align: center">뱃지개수 당 몇개의 라이프 기록을 줬더라?</h4>
    <div calss="mychart4" style="width:1000px; margin: 0 auto;"><canvas id="myChart4"></canvas></div>

    <script>
        var ctx = document.getElementById("myChart4").getContext('2d');
        var myChart4 = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ["뱃지 1개 기록들", "뱃지 2개 기록들", "뱃지 3개 기록들", "뱃지 4개 기록들", "뱃지 5개 기록들"],
                datasets: [{
                    label: "안녕",
                    {#라벨 안쓰고 싶은데... ?#}
                    data: [{{one_count}}, {{two_count}}, {{three_count}}, {{ four_count }}, {{five_count}}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: false,
                    text: '뱃지개수 당 몇개의 라이프 기록을 줬더라?'
                },
                maintainAspectRatio: false, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
                scales: {
                    yAxes: [{
                        beginAtZero: true,
                        display: false
                    }]

                }
            }
        });
    </script>

    <br/>
    <br/>

    <h2 class="second_string">★OH! HAPPY DAY!!★ </h2>

    <br/>

    <div class="mychart3" style="width:600px"><canvas id="myChart3"></canvas></div>
    <script>
        var ctx = document.getElementById("myChart3").getContext('2d');
        var myChart3 = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Mon", "Tue", "Wed", "Thur", "Fri", "Sat", "Sun"],
                datasets: [{
                    label: "안녕",
                    {#라벨 안쓰고 싶은데... ?#}
                    data: [{{mon}}, {{tue}}, {{wed}}, 10, {{fri}}, {{sat}}, {{sun}}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 100, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 100, 64, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: false,
                },
                maintainAspectRatio: false, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
                scales: {
                    yAxes: [{

                        beginAtZero: true,
                        display: false

                    }]


                }
            }
        });
    </script>

    <br/>
    <h5 style="text-align: center"> 당신은 {{ ing }}에 가장 오롯히 라이프를 즐기고 계시군요! </h5>
{#   {{ ing }} 대신 view에 넣을 변수 context에 넣어서 나중에 확인하기  #}

    <br/>
    <br/>

    <h2 class="second_string">★월별 라이프 비교★ </h2>
    <br/>

    <div class="mychart5" style="width:600px; height:400px; margin:0 auto"><canvas id="myChart5"></canvas></div>

    <script>
        var ctx = document.getElementById("myChart5").getContext('2d');
        var myChart3 = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["1", "2", "3", "4", "5", "6", "7","8", "9", "10", "11", "12", "13", "14","15", "16", "17", "18", "19", "20", "21","22", "23", "24", "25", "26", "27", "28","29", "30"],
                datasets: [{
                    label: "이전달",
                    {#라벨 안쓰고 싶은데... ?#}
                    data: [3,1,3,5,8,9,0,7,7,9,6,4,4,5,3,3,6,7,8,8,9,3,2,7,8,9,4,4,2,10],
                    borderColor: [
                        'rgba(255, 206, 86, 1)',
                    ],
                    borderWidth: 1,
                    fill:false
                }, {
                    label: "이번달",
                    data: [8,8,9,9,7,1,11,12,3,6,8,9,3,3,4,2,3,5,8,9,0,7,7,9,6,4,4,5,3,0],
                    borderColor: [
                        'rgba(255, 06, 86, 1)',
                    ],
                    borderWidth: 1,
                    fill:false
                }
                ]
            },
            options: {
                title: {
                    display: false
                },
                maintainAspectRatio: false, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
                scales: {
                    yAxes: [{

                        beginAtZero: true,
                        display: false

                    }]
                }
            }
        });
    </script>

    <br/>
    <br/>

    <h4 style="text-align: center"> 이전달 총 뱃지 개수 : {{ ing  }}     이전달 평균 뱃지 개수 : {{ing}} </h4>
   <h4 style="text-align: center"> 이번달 총 뱃지 개수 : {{ ing  }}     이번달 평균 뱃지 개수 : {{ing}} </h4>

{###########맨 위로 올라가는 버튼##########}
  <a href="#go_up"><button class="button_8"><i class="fas fa-chevron-up" style="padding: 10px;"></i></button></a>
{#추후 메세지도 넣어질 예정#}


{% endblock %}



{#    <h5>각 카테고리별 라이프 기록 개수 </h5>#}
{#    {{ exercise_field_count }}#}
{#    {{ travel_field_count }}#}
{#    {{ etc_field_count }}#}
{#    {{ friend_field_count }}#}
{#    {{ self_field_count }}#}
{#    {{ hobby_field_count }}#}
{#    {{ leisure_field_count }}#}
{#    {{ work_field_count }}#}
{##}
{#    <h5>각 카테고리별 라이프 기록 개수의 뱃지 개수</h5>#}
{#    {{ value1 }}#}
{#    {{ value2 }}#}
{#    {{ value3 }}#}
{#    {{ value4 }}#}
{#    {{ value5 }}#}
{#    {{ value6 }}#}
{#    {{ value7 }}#}
{#    {{ value8 }}#}
{##}
{#    <h5>지난 한달간 모은 총 뱃지수</h5>#}
{#    {{ ing }}#}
{##}
{#    <h5>하루전 모든 rating</h5>#}
{#    {{ one_days_ago }}#}
{#    {{ one_days_ago_rating}}#}
{#    {% for i in one_days_ago_rating %}#}
{#    {{ i }}#}
{#    {% endfor %}#}
{##}
{#    {% for j in three_days_ago_rating %}#}
{#    {{ j }}#}
{#    {% endfor %}#}
{##}



    {#    {{ mon }}#}
    {#    {{ tue }}#}
    {#    {{ wed }}#}
    {#    {{ thur }}#}
    {#    {{ fri }}#}
    {#    {{ sat }}#}
    {#    {{ sun }}#}
    {#    {{ a }}#}




