@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.community_content{
    display: block;
}
#pagination_nav {
    text-align: center;
    width: 100%;
    display: flex;
    font-weight: 900;
    padding-top: 5rem;
    padding-bottom: 10rem;
    color: #0B2752;
    margin: 0 auto;

}

#pagination_nav ul {
    width: 80%;
    height: 3rem;
    margin: 0 auto;
}

#pagination_nav li {
    font-family: "Syncopate", sans-serif;
    display: inline-block;
    padding-top: 1.5rem;
    margin-left: 2rem;
    color: #0B2752;
}

#pagination_nav li span{
    color: white;
    font-size: 30px;
    background-color: #0B2752;
    padding: 10px;
}

#pagination_nav li span:hover{
    background-color: orangered;
}

#pagination_nav li a{
    color: #0B2752;
    font-size: 30px;

}

h1 {
    padding-top: 14rem;
    text-align: center;
    font-family: "yg-jalnan", 'sans-serif';
    color: #0B2752;
    font-size: 50px;
}

#wrap05 {
    width: 80%;
    margin: 0 auto;
    padding-top: 3rem;

}

.topbtn {
    display: flex;
    justify-content: flex-end;
}


#gg, #gd {
    margin-top: 5rem;
    width: 200px;
    height: 4rem;
    color: white;
    font-size: 20px;
    line-height: 20px;
    background-color: #c4c4c4;
    border: none;
    font-family: "yg-jalnan", 'sans-serif';
    margin-right: 2rem;
    border-radius: 3rem;
}

#gg:hover, #gd:hover {
    background-color: orangered;
}



#box {
    margin-top: 3rem;
    border-radius: 5px;
    background-color: red;
    width: 470px;
    margin-bottom: 6rem;
    border: 1px solid #0B2752;
    float: left;
    margin-right: 40px;
    height: 400px;
}


#photo {
border-radius: 5px;
    background-color: white;
    height: 400px;
    overflow: hidden;

}


#box img {
    width: 100%;
    overflow: hidden;
}


#box li {
    font-family: "Noto Sans KR", 'sans-serif';
    font-size: 1.4rem;
}

.like_button {
    height: 50px;
}




.like_button{
    padding-top: 10px;
}

.like_button span{
   font-family: "helvetica", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: lightgray;
}

