@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#all {
    padding-top: 11rem;
    margin: 0 auto;
    width: 80%;
}

#editbtn {
    padding-top: 4rem;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2rem;
}

.button_7 {
    width: 80px;
    height: 50px;
    border-radius: 3rem;
    background-color: #cccccc;
    text-decoration: none;
    border: none;
}

.button_7 a {
    color: white;
    padding: 15px;
    font-family: "yg-jalnan", 'sans-serif';
    font-size: 18px;
}

.button_7:hover {
    background-color: orangered;
}


#imgwrap {
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 60%;
    height: 600px;
    margin: 0 auto;
    overflow: scroll;

}

img {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

#wrap4 {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 3rem;
}


#wrap4 ul {
    margin-top: 10px;
}

#wrap4 ul span {
    font-family: "helvetica", sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: lightgray;
}

#wrap4 ul li:nth-child(1) {
    font-size: 27px;
}


/*다른 유저 게시글 이름 연결 */
#wrap4 a {
    color: white;
}


/*유저연결버튼 */
#show {

    background-color: #0B2752;
    padding: 10px 20px;
    border-radius: 3rem;
-webkit-box-shadow: 0px 6px 9px -3px rgba(128,128,128,1);
-moz-box-shadow: 0px 6px 9px -3px rgba(128,128,128,1);
box-shadow: 0px 6px 9px -3px rgba(128,128,128,1);
}

#show:hover {
    background-color: orangered;
}


#posttitle {
    margin-top: 3rem;
    font-weight: 700;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 23px;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #4f4f4f;
    color: #333333;
}


/*게시글 작성 날짜 이건 문제 없음 */
#wrap4 ul li:last-child {
    color: lightgray;
    font-size: 20px;
    margin-top: 10px;
}


#wrap4 li:nth-child(4) {
    margin-top: 20px;
    font-size: 20px;
}


/*글 작성 내용 */
#wrap4 p {
    font-size: 20px;
    color: #333333;

}

/*유저관심태그*/
#wrap4 p:nth-child(2) {
    margin-top: 5rem;
    color: #B8BFFF;
    font-family: "yg-jalnan", 'sans-serif';
    font-size: 20px;
    line-height: 20px;
}

#comment {

    width: 60%;
    margin: 0 auto;
    height: 800px;
    padding-bottom: 3rem;
}

input[name='text'] {
    height: 120px;
    padding-left: 2%;
    background-color: #F1F1F1;
    border: none;
    width: 98%;
    font-family: "Noto Sans KR", 'sans-serif';
    font-size: 17px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

label {
    display: none;
}

#margin {
    width: 200px;
    margin: 0 auto;
}

.comment_write {

    margin-top: 10px;
    border-radius: 3rem;
    width: 200px;
    height: 60px;
    background-color: #0B2752;
    border: none;
    color: white;
    font-size: 20px;
    font-family: "yg-jalnan", 'sans-serif';
    margin-bottom: 8rem;


}


.comment_write:hover {
    background-color: orangered;
}

.comment_register {
    margin-top: 2rem;
}


.each_comment {
    display: flex;
    height: 70px;
    padding-bottom: 2px;
    border-bottom: 0.2px solid #c4c4c4;
    background-color: white;

}

.delete_comment {
    margin-top: 26px;
    text-decoration: none;
    margin-left: 20px;
    width: 70px;
    height: 24px;
    background-color: #F1F1F1;
    border: none;
    border-radius: 3rem;

}

/*댓글 삭제 글자*/
.delete_comment a {
    color: #888888;
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
    font-weight: 600;
}


#user_photo, #smile01 {
    border: 2px solid white;
    width: 50px;
    height: 50px;
    border-radius: 10rem;
    margin-left: 20px;
    margin-top: 10px;
}

/*댓글  */
.comment_author_info {
    color: #333333;
    line-height: 75px;
    margin-left: 20px;
    font-family: "Noto Sans KR", sans-serif;
}


/*댓글 작성자 닉네임 */
.comment_author_info span {
    color: #717FFF;
    font-weight: 900;
    margin-right: 20px;
    font-size: 15px;
    font-family: "yg-jalnan", 'sans-serif';
}


.comment_info {
    display: flex;
}

