@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
}

.r_contents{
    width: 100%;
    height: 800px;
}

input[name='title']{
    margin-top: 2rem;
    width: 540px;
    height: 40px;
    border: solid 1px #b0bec9;
}

#sub{
    margin: 0 auto;
}





#sub h1{
    text-align: center;
    margin: 0 auto;
    width: 500px;
    padding-left: 60px;
    padding-top: 11rem;
    color: #0B2752;
    font-family: "yg-jalnan", 'sans-serif';
}

#id_text{
    padding-top: 10px;
    width: 30rem;
     height: 10rem;
    border: 1px solid #c4c4c4;
}

label{
    display: none;
}

form{
    margin: 0 auto;
    width: 30rem;
    font-family: "yg-jalnan", 'sans-serif';

}
#id_image{
    padding-top: 1.5rem;
    margin: 0 auto;
    width: 500px;
}


#last{
    margin-top: 2rem;
    width: 540px;
    height: 60px;
    font-family: "Syncopate", 'sans-serif';
    border: none;
    font-weight: 900;
    font-size: 20px;
    color: white;
    background-color: #0B2752;
    margin-bottom: 1rem;
}

#last:hover, #del:hover{
    background-color: orangered;
}

 #del{
    margin-top: 1rem;
    width: 540px;
    height: 60px;
    font-family: "Syncopate", 'sans-serif';
    border: none;
    font-weight: 900;
    font-size: 20px;
    color: white;
    background-color: #0B2752;
    margin-bottom: 5rem;
}