input[name='text']{
    width: 300px;
    height: 40px;
    margin-left: 10px;
}
label{
    display: none;
}
.comment_write{
        width: 50px;
    height: 40px;
}
.comment_register{
    display: inline;
}
.each_comment{
    display: flex;
}
.each_comment{
    height: 70px;
    padding-bottom: 2px;
    border: 1px solid lightgray;
    border-radius: 10px;

}
.delete_comment{
    margin-left: 20px;
    width: 80px;
    height: 30px;
}
#user_photo, #smile01{
    border: 2px solid white;
    width: 50px;
    height: 50px;
    border-radius: 10rem;
}
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.comment_info{
    display: flex;
}
#all{
    margin: 0 auto;
    width: 80%;
    padding-bottom: 13rem;
}
#editbtn{
    padding-top: 10rem;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.button_7{
    background-color: #c4c4c4;
    width: 130px;
    height: 50px;
    border-radius: 2rem;

    text-decoration: none;
    border: none;
}
.button_7:first-child{
    margin-right: 1rem;
}

.button_7 a{
    color: white;
    padding: 20px;
    font-family: "yg-jalnan", 'sans-serif';
}

.button_7:hover{
    background-color: orangered;
}


#imgwrap {
    width: 60%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;

}

img{
    background-color: red;
    width: 100%;

    margin: 0 auto;
}

#wrap4{
    width: 60%;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 3rem;
}

#wrap4 a{
    color: cornflowerblue;
    font-family: "yg-jalnan", 'sans-serif';
    background-color: white;
}

#wrap4 p{
    color: #4f4f4f;
    margin-top: 0.8rem;
    font-family: "Noto Sans KR", 'sans-serif';
    /*border-top: 1px solid #c4c4c4;*/
    padding-top: 10px;
    background-color: white;
}

.content_text{
    border-bottom: 1px solid #c4c4c4;
}
#wrap4 li{
    margin-top: 0.5rem;
    color: #c4c4c4;
    font-family: "Noto Sans KR", 'sans-serif';
    background-color: white;
}

#comment{
    width: 60%;
    margin: 0 auto;
    height: 200rem;
    border: 1px solid lightskyblue;
    padding-bottom: 3rem;
}