@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal; }

*{
    margin: 0;
    padding: 0;
}

.r_contents{
    height: 40rem;
}
#top_f{
    padding-top: 5rem;
    padding-left: 4rem;
    width: 30rem;
    margin: 0 auto;
    text-align: center;
    font-family: 'yg-jalnan', "cursive";



}


#bow{
        padding-top: 5rem;
    padding-bottom: 3rem;
    margin-left: 28rem;
    font-family: 'yg-jalnan', "cursive";
    color: #0B2752;
    width: 35rem;
    padding-left: 5rem;


}

select{
    margin-top: 20px;
}

input, select{
    margin-left: 2rem;
    width: 90%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 1.5rem;
    border: 1px solid lightgray;
}
label{

}

input[name="title"]{
width: 20rem;
}

input[name="start_time"]{

}

input[name="rating"]{
    display: none;
}

#lc1{
    border-radius: 3rem;
    margin-top: 4rem;
    background-color: #717FFF;
    color: white;
    text-align: center;
    border: none;
    font-family: "Syncopate", sans-serif;
    font-weight: 900;
    padding: 1rem 2rem;
    width: 10rem;

}

#lc2{
    border-radius: 3rem;
        margin-top: 4rem;
    background-color: #717FFF;
    color: white;
    text-align: center;
    border: none;
    font-family: "Syncopate", sans-serif;
    font-weight: 900;
    padding: 1rem 2rem;
    width: 10rem;
    margin-left: 7.5rem;

}

#lc1:hover{
    background-color: orangered;
}

#lc2:hover{
    background-color: orangered;
}
#rateit-range-2{
    margin-left: 2rem;
    margin-top: 1.5rem;
}

td{
    width: 3rem;

}