@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal; }

*{
    margin: 0;
    padding: 0;
}

.r_contents{
    height: 40rem;
}
#top_f{
    padding-top: 12rem;

    width: 30rem;
    margin: 0 auto;
    text-align: center;
    font-family: 'yg-jalnan', "cursive";



}


#bow{
    padding-top: 5rem;
    padding-bottom: 3rem;
    font-family: "SF Pro", 'sans-serif';
    color: #c4c4c4;
    width: 540px;
    margin: 0 auto;
    padding-right: 70px;


}

select{
    margin-top: 20px;
}

input, select{

    width: 90%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 1.5rem;
    border: 1px solid lightgray;
}


label{
    line-height: 50px;
    width: 50px;
    float: left;
}
input[name="title"]{
width: 460px;
    height: 50px;
}

input[name="start_time"]{
width: 460px;
    height: 50px;
}

input[name="rating"]{
    display: none;
}

select[name="category"]{
    width: 460px;
    height: 50px;


}

#rateit-range-2{
}



#lc1{
    margin-top: 3rem;
    background-color: #c4c4c4;
    color: white;
    text-align: center;
    border: none;
    font-family: "Syncopate", sans-serif;
    font-weight: 900;
    padding: 1rem 2rem;
    width: 460px;
    margin-left: 80px;

}

#lc2{
    margin-top: 1.5rem;
    background-color: #c4c4c4;
    color: white;
    text-align: center;
    border: none;
    font-family: "Syncopate", sans-serif;
    font-weight: 900;
    padding: 1rem 2rem;
    width: 460px;
    margin-left: 80px;


}

#lc1:hover{
    background-color: orangered;
}

#lc2:hover{
    background-color: orangered;
}
#rateit-range-2{
}

td{
    width: 3rem;

}
#bobtn{
    width: 35rem;
    margin: 0 auto;
    background-color: greenyellow;
}

form{
    width: 540px;
}

