@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal; }

*{
    margin: 0;
    padding: 0;
}

label{
    line-height: 30px;
    display: block;
    padding: 0;
    color: lightgray;
}

.r_contents{
    height: 1100px;
}
#top_b{
    padding-top: 11rem;
    padding-bottom: 4rem;
    width: 540px;
    margin: 0 auto;
    text-align: center;
    font-family: 'yg-jalnan', "cursive";
    font-size: 17px;
    color: black;
}


#bow{
    width: 540px;
    margin: 0 auto;
    font-family: 'yg-jalnan', "cursive";
    color: #0B2752;
}


input, select{
    width: 540px;
    height: 50px;
    line-height: 30px;
    border: 1px solid lightgray;
    margin-bottom: 2rem;
}

/*label{*/
/*    line-height: 30px;*/
/*    display: block;*/
/*    padding: 0;*/
/*    margin-left: 2rem;*/
/*}*/

input[name="title"]{
    padding-left: 20px;
    font-size: 15px;
    font-family: "Noto Sans KR", sans-serif;
    width: 520px;
    height: 50px;

}

input[name="start_time"]{
    padding-left: 20px;
    font-size: 15px;
    font-family: "Noto Sans KR", sans-serif;
    width: 520px;
    height: 50px;
}
input[name="rating"]{
    display: none;
}

select[name="category"]{
    padding-left: 20px;
    font-size: 15px;
    font-family: "Noto Sans KR", sans-serif;
    width: 540px;
    height: 50px;

}




#lc1{
    margin-top: 4rem;
    background-color: #0B2752;
    color: white;
    text-align: center;
    border: none;
    font-family: "Syncopate", sans-serif;
    font-weight: 900;
    font-size: 20px;
    width: 540px;
    height: 60px;

}

#lc2{
    margin-top: 1rem;
    background-color: #0B2752;
    color: white;
    text-align: center;
    border: none;
    font-family: "Syncopate", sans-serif;
    font-weight: 900;
    font-size: 20px;
    width: 540px;
    height: 60px;


}

#lc1:hover{
    background-color: orangered;
}

#lc2:hover{
    background-color: orangered;
}

#rateit-range-2{
   margin-left: 110px;
}


#rateit_id_rating{
    width: 540px;
    height: 65px;
}

