@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal; }

#lesscontent{
    width: 80%;
    margin: 0 auto;
}

 #lesscontent h1{
     padding-top: 25rem;
    color: #0B2752;
    margin: 0 auto;
    text-align: center;
    font-family: 'yg-jalnan', "cursive";
    font-size: 37px;
 }

#noti{
    color: #c4c4c4;
    text-align: center;
    font-family: 'yg-jalnan', "cursive";
    font-size: 25px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#lessbtn{
    margin: 0 auto;
    width: 300px;
    background-color: #0B2752;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 3rem;
    color: white;
    font-family: "yg-jalnan",'sans-serif';
    border: none;
    font-size: 20px;
}


#lessbtn:hover{
    background-color: orangered;
}

#back{
    width: 300px;
    margin: 0 auto;
}