/* Common styles */
/*body {*/
/*    font-family: "ptsans", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;*/

/*}*/


@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal; }

/*input[name="start_time"]{*/
/*     margin-top: 30px;*/
/*}*/
/*input[name="rating"]{*/
/*    margin-top: 30px;*/
/*    color: darkcyan;*/
/*    display: block;*/
/*}*/


.r_contents {
    margin: 0 auto;
    width: 80%;
    height: 1100px;
}




.button_2{
    margin-left: 10rem;
    border: none;
    background-color: #F1F1F1;
    border-radius: 3rem;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "yg-jalnan", 'sans-serif';
    color: #0B2752;
}



.button_2:hover{
    background-color: #717FFF;
}

.button_6{
    margin-top: 5rem;
    border: none;
    outline: none;
    background-color: #F1F1F1;
    border-radius: 3rem;
    width: 4rem;
    height: 3.5rem;
    text-align: center;
    line-height: 2rem;
    float: right;
    margin-right: 12rem;
}




/*prev_day, next_day버튼*/
.button_7{
    border: none;
    outline: none;
    background-color: #F1F1F1;
   border-radius: 3rem;
    width: 5rem;
    padding: 5px;
    height: 2.5rem;
    text-align: center;
    line-height: 2rem;
    font-family: "yg-jalnan", 'sans-serif';
     color: #0B2752;
    margin-top: 2rem;
}

.button_7:hover{
    background-color: #717FFF;
}


.button_4{
    margin-top: 5rem;
    border: none;
    outline: none;
    background-color: #F1F1F1;
    border-radius: 3rem;
    width: 4rem;
    height: 3.5rem;
    text-align: center;
    line-height: 2rem;
    margin-right: 10rem;
}
.button_4 a, .button_6 a{
    padding: 10px;
    color: #0B2752;
    font-weight: 900;
    font-size: 0.9rem;
    font-family: "Syncopate", sans-serif;
}
.button_4:nth-child(2), .button_6:nth-child(2){
    margin-left: 5.7rem;
    margin-right: 5.7rem;
}

.button_4:hover, .button_6:hover{
    background-color: #717FFF;
}



#cal{
    width: 100%;
}
.clearfix {
    padding-top:4rem;
    width: 70%;
}

/* App styles */
.calendar {
    float: left;
    width: 57%;
    font-size: 13px;
}

/*calendar line here!*/
.calendar tr{
    border: 2px solid #0B2752;
    background-color: #0B2752;
    color: white;

}

.calendar tr:nth-child(2){
    height: 5rem;
    margin-left: 5rem;
}


.calendar tr:nth-child(1){
    height: 7rem;
    border: none;
}

.calendar th:nth-child(0) {
    padding: 5px;
    text-align: center;
    font-size: 18px;


}

.calendar td {
    width: 200px;
    height: 100px;
    background-color: white;
    padding: 0px 5px 0px 5px;
    border: 2px solid #0B2752;
    color: white;


}



.calendar td ul li a {
    /*color: #717FFF;*/
    background-color: #717FFF;
    margin-bottom: 5px;
    width: 100px;
    border-radius: 5px;
    display: block;
    color: white;
    font-size: 0.8rem;
    font-family: "Noto Sans KR", sans-serif;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    /*뱃지 크기와 색깔 정하는 아이*/
}


.month {
    font-size: 3rem;
    color: #0B2752;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    font-family: "yg-jalnan", 'sans-serif';

}
.mon, .tue, .wed, .thu, .fri, .sat, .sun{
    text-align: center;
    color: white;
    font-size: 1.1rem;
}

.mon, .tue, .wed, .thu, .fri, .sat, .sun{
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.date {
    font-size: 1rem;
    color: #0B2752;
    font-weight: 700;
}




.calendar ul {
    height: 50%;
}

/*캘린더 밑에 나오는 오늘 리스트부분 스타일 시작*/

.contain{
    float: right;
    text-align: center;
    width: 40rem;
    margin-top: 5rem;
    height: 76%;

}
.today_list_total {
    text-align: center;


}

/*오늘 날짜 */
.today_list_total .today{
    color: #0B2752;
    font-size: 3rem;
    font-weight: 900;
    font-family: "yg-jalnan", 'sans-serif';
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;

}

#ttt{
    height: 400px;
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

#ttt::-webkit-scrollbar{ /* WebKit 스크롤바 안 보이게*/
    width: 0;
    height: 0;
}




.today_rating {
     width: 550px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    font-family: "yg-jalnan",'sans-serif';
    /*overflow: scroll;*/

}

.today_rating h1{
    font-family: "yg-jalnan",'sans-serif';
       color: #717FFF;
}

.today_rating span{
    font-family: "yg-jalnan",'sans-serif';
}

.contain h5{
    padding: 5rem;
    font-family: "SF Pro", 'sans-serif';
    font-size: 1.7rem;
}


.today_list_item {
    width: 550px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    background-color: #717FFF;
    border-radius: 1rem;
    font-family: "yg-jalnan",'sans-serif';
    /*overflow: scroll;*/


}

.today_list_item span.each_rating{
    color : #0B2752;
}

.each_rating{
    color: violet;
}

.today_rating span{
    color: #717FFF;
    font-size: 30px;
}


.today_rating{
    margin-top: 30px;
    background-color: white;
}
.today_rating h1{

    display: inline-flex;
    font-size: 30px;
    text-align: center;
}

/*.today_rating h1{*/
/*    color: blue;*/
/*    font-size: 20px;*/

/*}*/
#text{
    color: orangered;
}

.button_middle{
        padding: 20px;
}
i{
    /*아이콘 주변을 클릭해도 클릭이 되게 하기 위해 패딩을 줬어요*/
    padding: 20px;
}
.today_list_total .total{
    color: #0B2752;
  font-size: 2rem;
  font-weight: bold;
}

.today_list_item .each_rating{
    font-weight: bold;
    color: #717FFF;
    margin-left: 10px;
}

/*대시보드 보러가기 버튼 css*/
.go_dashboard button{
        background-color: #0B2752;
        width: 20rem;
        height: 4rem;
        line-height: 50px;
        border-radius: 4rem;

        border: none;
        padding-left: 10px;
     font-family: "yg-jalnan",'sans-serif';
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: 900;
    font-size: 1.2rem;

}

.go_dashboard button:hover{
    background-color: orangered;
}


.calendar td ul{
    width: 105px;
    height: 65px;
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.calendar td ul::-webkit-scrollbar { /* WebKit 스크롤바 안 보이게*/
    width: 0;
    height: 0;
}