{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'main/base.css' %}">


    {#        혹시몰라 range#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    {% block style %}
    {% endblock %}
</head>
</head>
<body>

<nav>
    <ul class="navt">
        <li><a href="/">YAHO!</a></li>
        <li><a href="{% url 'cal:calendar' %}">LIFE FINDER</a></li>
        <li><a href="#">DASH BOARD</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'create_profile:profile_look' request.user.pk %}">MY PAGE</a></li>
            <li><a href="{% url 'create_profile:logout' %}">LOGOUT</a></li>
        {% else %}
            <li><a href="{% url 'create_profile:signup' %}">JOIN US</a></li>
            <li><a href="{% url 'create_profile:login' %}">LOG IN</a></li> {#보던 페이지로 이동#}
        {% endif %}
    </ul>
</nav>

#바디
<div class="r_contents">
    {% block content %}
    {% endblock %}
</div>


{% block footer %}
{% endblock %}
</body>


</html>