{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YAHO</title>
    <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'main/base.css' %}">

    {% block style %}
    {% endblock %}
</head>
</head>
<body>



<nav class="real_nav">
    <ul class="navt">
        <li><a href="/"><img id="navlogo" src="{% static 'logo.png' %}"></a></li>
        {% if user.is_authenticated %}
            {% if not user.user_profile %}

                <li><a href="{% url 'create_profile:need_profile' %}">CALENDAR</a></li>
                <li><a href="{% url 'create_profile:need_profile' %}">DASH BOARD</a></li>
                <li><a href="{% url 'photo:index' %}">COMMUNITY</a></li>

                {#                    <li><a href="{% url 'create_profile:need_profile' %}">COMMUNITY</a></li>#}
            {% else %}
                <li><a href="{% url 'cal:calendar' today_date %}">CALENDAR</a></li>
                <li><a href="{% url 'cal:dash' %}">DASH BOARD</a></li>
                <li><a href="{% url 'photo:index' %}">COMMUNITY</a></li>
                {% if profile_nav.photo %}
                    <li><a href="{% url 'create_profile:profile_look' request.user.pk %}"><img id="user_photo2" src="{{ profile_nav.photo.url }}"></a></li>
                {% else %}
                    <li><a href="{% url 'create_profile:profile_look' request.user.pk %}"><img id="smile02" src="{% static 'face.png' %}"></a></li>
                {% endif %}
            {% endif %}
        {% else %}
            <li><a href="{% url 'create_profile:need_login' %}">CALENDAR</a></li>
            <li><a href="{% url 'create_profile:need_login' %}">DASH BOARD</a></li>
            {#        <li><a href="{% url 'create_profile:need_login' %}">COMMUNITY</a></li>#}
            <li><a href="{% url 'photo:index' %}">COMMUNITY</a></li>
        {% endif %}


        {% if user.is_authenticated %}
            <li><a href="{% url 'create_profile:profile_look' request.user.pk %}">MY PAGE</a></li>
            <li><a href="{% url 'create_profile:logout' %}">LOGOUT</a></li>
        {% else %}
            <li><a href="{% url 'create_profile:signup' %}">JOIN US</a></li>
            <li><a href="{% url 'create_profile:login' %}">LOG IN</a></li>
            {#보던 페이지로 이동#}
        {% endif %}
    </ul>
</nav>

<div class="r_contents">
    {% block content %}
    {% endblock %}
</div>


{% block footer %}
{% endblock %}
</body>


</html>