{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YAHO</title>
    <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'main/base.css' %}">


    {# 혹시몰라 range#}
    {% block style %}
    {% endblock %}
</head>
</head>
<body>

{#<nav>#}
{#    <ul class="navt">#}
{#        <li><a href="/">YAHO!</a></li>#}
{#        <li><a href="{% url 'cal:calendar' %}">LIFE FINDER</a></li>#}
{#        <li><a href="{% url 'cal:dash' %}">DASH BOARD</a></li>#}
{#        {% if user.is_authenticated %}#}
{#            <li><a href="{% url 'create_profile:profile_look' request.user.pk %}">MY PAGE</a></li>#}
{#            <li><a href="{% url 'create_profile:logout' %}">LOGOUT</a></li>#}
{#        {% else %}#}
{#            <li><a href="{% url 'create_profile:signup' %}">JOIN US</a></li>#}
{#            <li><a href="{% url 'create_profile:login' %}">LOG IN</a></li> {#보던 페이지로 이동#}
{#        {% endif %}#}
{#    </ul>#}
{#</nav>#}
{##}
{##바디#}
{#<div class="r_contents">#}
{#    {% block content %}#}
{#    {% endblock %}#}
{#</div>#}
{##}
{##}
{#{% block footer %}#}
{#{% endblock %}#}


<nav>
    <ul class="navt">
        <li><a href="/">YAHO!</a></li>
        {#        {% if user.is_authenticated %}#}
        {#            <li><a href="{% url 'cal:calendar' %}">LIFE FINDER</a></li>#}
        {#            <li><a href="{% url 'cal:dash' %}">DASH BOARD</a></li>#}
        {#        {% else %}#}
        {#            <li><a href="{% url 'create_profile:need_login' %}">LIFE FINDER</a></li>#}
        {#            <li><a href="{% url 'create_profile:need_login' %}">DASH BOARD</a></li>#}
        {#        {% endif %}#}


        {#        {% if not user.user_profile %}#}
        {#            <li><a href="{% url 'create_profile:need_profile' %}">LIFE FINDER</a></li>#}
        {#            <li><a href="{% url 'create_profile:need_profile' %}">DASH BOARD</a></li>#}
        {#        {% elif user.is_authenticated %}#}
        {#            <li><a href="{% url 'cal:calendar' %}">LIFE FINDER</a></li>#}
        {#            <li><a href="{% url 'cal:dash' %}">DASH BOARD</a></li>#}
        {#        {% else %}#}
        {#            <li><a href="{% url 'create_profile:need_login' %}">LIFE FINDER</a></li>#}
        {#            <li><a href="{% url 'create_profile:need_login' %}">DASH BOARD</a></li>#}
        {#        {% endif %}#}
        {% if user.is_authenticated %}
                {% if not user.user_profile %}
                    <li><a href="{% url 'create_profile:need_profile' %}">LIFE FINDER</a></li>
                    <li><a href="{% url 'create_profile:need_profile' %}">DASH BOARD</a></li>
                    <li><a href="{% url 'create_profile:need_profile' %}">COMMUNITY</a></li>
                {% else %}
                    <li><a href="{% url 'cal:calendar' %}">LIFE FINDER</a></li>
                    <li><a href="{% url 'cal:dash' %}">DASH BOARD</a></li>
                    <li><a href="{% url 'photo:index' %}">COMMUNITY</a></li>
                {% endif %}
        {% else %}
        <li><a href="{% url 'create_profile:need_login' %}">LIFE FINDER</a></li>
        <li><a href="{% url 'create_profile:need_login' %}">DASH BOARD</a></li>
        <li><a href="{% url 'create_profile:need_login' %}">COMMUNITY</a></li>
        {% endif %}

        {% if user.is_authenticated %}
        <li><a href="{% url 'create_profile:profile_look' request.user.pk %}">MY PAGE</a></li>
        <li><a href="{% url 'create_profile:logout' %}">LOGOUT</a></li>
        {% else %}
        <li><a href="{% url 'create_profile:signup' %}">JOIN US</a></li>
        <li><a href="{% url 'create_profile:login' %}">LOG IN</a></li>
        {#보던 페이지로 이동#}
        {% endif %}
    </ul>
</nav>

<div class="r_contents">
    {% block content %}
    {% endblock %}
</div>


{% block footer %}
{% endblock %}
</body>


</html>