{% extends 'main/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Knewave&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}
    {% load staticfiles %}
    <div class="contents">

    <div class="card_01">

        <div id="top">
            {#            <img src="static/logo001.png">#}
            <img src="{% static 'logo001.png' %}">


        </div>


        <div id="bottom">

            <div id="btn">
                {% if not user.is_authenticated %}

                    <a href="{% url 'create_profile:login' %}">
                        <button id="first_btn">LOGIN</button>
                    </a>
                    <a href="{% url 'create_profile:signup' %}">
                        <button id="second_btn">JOIN US</button>
                    </a>

                {% else %}
                    <a href="{% url 'cal:calendar' today_date %}">
                        <button id="third_btn">YAHO!</button>
                    </a>
                {% endif %}
            </div>
        </div>


    </div>



    <div class="card_02">

        <h3>HOW WAS YOUR DAY?</h3>
        <h1>CALENDAR-YA!</h1>
        <p>
            <span>CALENDAR</span>는<br/>
            당신의 소중한 라이프 기록들을 보관하고 있어요<br/>
            일상에서 느낀 만족스러운 모든 순간이 라이프 기록이 될 수 있답니다<br/>
            각 기록들에 당신이 느낀 만족도에 따라 라이프 뱃지를 달아주세요!<br/>
            <a href="#">
                <button id="lf">CALENDAR-YA!</button>
            </a>
        </p>


        <div id="ant">
            <div id="smile">
                <img src="{% static 'smillle.png' %}">
                <img src="{% static 'smillle.png' %}">
                <img src="{% static 'smillle.png' %}">
                <img src="{% static 'smillle.png' %}">
                <img src="{% static 'smillle.png' %}">
            </div>
        </div>
    </div>



    <div class="vid_01">
        <video width="100%" muted autoplay loop>
            <source src="{% static "real001.mp4" %}" type="video/mp4">
        </video>
    </div>

    <div class="card_03">
        <div id="03l">
            <h3>Check your lifestyle</h3>

            <h1>DASH
                <br/>
                BOARD-YA!</h1>
            <div class="graph_ya">

                <p>
                    <span>DASHBOARD</span>는<br/>
                    캘린더에 기록한 라이프 뱃지들의 분석 결과를 보여주고 있어요<br/>
                    뱃지를 통해 얻은 데이터의 통계 결과값들을 이곳에 모았습니다<br/>
                    당신의 라이프를 대시보드에서 한 눈에 살펴보세요!
                </p>
                <a href="#">
                    <button id="lg">DASHBOARD-YA!</button>
                </a>
            </div>

        </div>
        <div class="hi">
            <div class="mychart">
                <canvas id="myChart" style=""></canvas>
            </div>


            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


            <script>
                var ctx = document.getElementById("myChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'radar',
                    data: {
                        labels: ["Yaho1", "Yaho2", "Yaho3", "Yaho4", "Yaho5"],
                        datasets: [
                            {
                                label: "pre_month",
                                fill: true,
                                backgroundColor: "rgba(179,181,198,0.2)",
                                borderColor: "rgba(179,181,198,1)",
                                pointBorderColor: "#fff",
                                pointBackgroundColor: "rgba(179,181,198,1)",
                                data: [20.7, 55.61, 21.69, 40, 70.2]
                            }, {
                                label: "present_month",
                                fill: true,
                                backgroundColor: "rgba(43,126,255,0.2)",
                                borderColor: "rgba(17,39,79,1)",
                                pointBorderColor: "#0B2752",
                                pointBackgroundColor: "rgba(43,126,255,0.2)",
                                data: [76.48, 34.16, 7.61, 58.06, 43.4]
                            }
                        ]
                    },
                    options: {
                        title: {
                            display: true,
                            text: "Only YAHO's Graph"
                        }
                    }
                });
            </script>
        </div>


    </div>

    <div class="card_04">
    <div id="boxwrap">


        <div id="tbox">
            <h1>COMMUNITY-YA!</h1><br/>
            <p id="t01">
                여러분의 일상을 사진으로 남기고 <br/>
                사람들과 공유해보세요<br/>
                화려하거나 거창하지 않아도 좋아요<br/>
                여러분의 매순간이 의미있고 가치있답니다
            </p>
        </div>

        <div id="tbox">
            <h1>MY PAGE-YA!</h1><br/>
            <p id="t02">
                당신이 남긴 기록들을 한 곳에 모아봤어요!<br/>
                프로필과 작성한 글을 이 곳에서 확인할 수 <br/>
                있답니다!<br/>
                뿌듯한 순간들을 기록하고 다시 꺼내어보세요!
            </p>
        </div>

        <div id="tbox">
            <h1>YAHO-YA!</h1><br/>
            <p id="t03">
                오늘 하루 어땠어요?<br />
                빠르게 흘러가는 시간 속 소소한 행복을 놓치진 <br />
                않았나요?<br />
                여러분이 오늘 하루 어떤 일을 했는지보다<br />
                어떤 감정으로 하루를 보냈는지에 관심을 가지는<br />
                YAHO입니다.
            </p>
        </div>


    </div>




{% endblock %}

{% block footer %}
    <footer>
        <span><br/><br/><br/></span>
        <p>

            COPYRIGHT &copy; 2020 PIROGRAMMING YAHO!. All rigths reserverd. Republic of Korea, SEOUL.
        </p>
    </footer>
    </div>
    </div>
{% endblock %}
