{% extends 'main/base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'create_profile/login.css' %}">

{% endblock %}

{% block content %}
    {% load staticfiles %}

    {% if user.is_authenticated %}
    {% else %}


        <div class="formbox">
            <div id="logoimg">
                <img src="{% static 'main/NAME.png' %}">
            </div>



            <form method="POST" action="{% url 'create_profile:login' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% if error %}
                <div id="error">{{ error }}</div>
                {% endif %}
                <table>
                    <div id="box">
                        <input name="username" type="text" placeholder="     아이디" autofocus><br/>
                        <input name="password" type="password" placeholder="    비밀번호">
                        <input type="submit" id="save" value="로그인하기"/>
                        <a href="{% provider_login_url 'google' %}"><button id="google_login"><img src="{% static 'main/googlelogo.png' %}"><span>Sign in with Google</span></button></a>
                        <a href="{% url "password_reset" %}"><button id="forget_password">비밀번호 찾기</button></a>

                    </div>
                </table>
            </form>
        </div>
    {% endif %}
{% endblock %}