{% extends 'main/base.html' %}
{% load static %}
{% load staticfiles %}
{% block style %}
    <style>

        @font-face {
            font-family: 'yg-jalnan';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        .need_login {
            width: 80%;
            text-align: center;
            margin: 0 auto;

        }

        .login_need_desc {
            padding-top: 25rem;
            padding-bottom: 3rem;
            width: 540px;
            margin: 0 auto;
            text-align: center;
            font-family: 'yg-jalnan', "cursive";
            font-size: 37px;
            color: black;
        }

        .button_5 {
            text-align: center;
            width: 540px;
            background-color: #0B2752;
            height: 60px;
            line-height: 60px;
            font-family: "Syncopate", sans-serif;
            font-weight: 900;
            font-size: 20px;
            border: none;

        }

        .button_5:nth-child(1){
            margin-bottom: 30px;
        }


        .button_5 a{
            color: white;
        }

        .button_5:hover {
            background-color: orangered;
        }


        .buttons{
            width: 540px;
            margin: 0 auto;
        }

    </style>

{% endblock %}
{% block content %}
    <div class="need_login">
        <p class="login_need_desc">로그인 후 이용 가능합니다</p>
        <div class="buttons">
            <button class="button_5"><a href="{% url 'create_profile:signup' %}">JOIN US</a></button>
            <button class="button_5"><a href="{% url 'create_profile:login' %}">LOG IN</a></button>
        </div>
    </div>
{% endblock %}