{% extends 'main/base.html' %}
{% load static %}
{% load staticfiles %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'create_profile/profile_update.css' %}">
{% endblock %}
{% block content %}

        <div id="upd">

        <h2>당신의 프로필을 변경해주세요!</h2>
        <form id="updf" action="" method="post" enctype="multipart/form-data">
            <div>
                {% csrf_token %}
                <table>
                    <div id="box">
                        {{ profile_form.as_table }}
                         {{ goal_form.as_table }}
                    </div>
                </table>
                <input type="submit" id="save" value="수정완료"/>
            </div>
        </form>
    </div>
{#    <div style="height: 100px"></div>#}
{#    <h2>당신의 프로필을 변경해주세요!</h2>#}
{#    <form action="" method="post" enctype="multipart/form-data">#}
{#        <div>#}
{#            {% csrf_token %}#}
{#            <table>#}
{#                <div id="box">#}
{#                    {{ profile_form.as_table }}#}
{#                    {{ goal_form.as_table }}#}
{#                </div>#}
{#            </table>#}
{#            <input type="submit" id="save" value="수정완료"/>#}
{#        </div>#}
{#    </form>#}
{% endblock %}
