{% extends 'main/base.html' %}
{% load static %}
{% load staticfiles %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'create_profile/profile.css' %}">
{% endblock %}
{% block content %}

    <div id="profile">

        <h2>{{ profile.nickname }}'s Profile</h2>
        {% if profile.photo %}
            <img src='{{ profile.photo.url }}' style="height: 200px; width: 200px;">
        {% else %}
            <img src="{% static 'quokka.jpg' %}" style="height: 200px; width: 200px;">
        {% endif %}
        {% if profile.interested %}
            <h2>관심분야: {{ profile.interested }}</h2>
        {% endif %}


        {% if profile.job %}
            <h2>직업: {{ profile.job }}</h2>
        {% endif %}
        {% if profile.description %}
            <h2>소개: {{ profile.description }}</h2>
        {% endif %}
        <h2>목표개수: {{ profile.goal_count }}</h2>
        <button type="button" id="save"><a href="{% url 'create_profile:profile_edit' profile.pk %}">프로필 수정하기</a>
        </button>
        <button class="change_pw"><a href="{% url "password_change" %}">비밀번호 변경</a></button>

        <h4 style="margin-top: 20px;">내가 쓴 글</h4>
        {% for object in user_registered_photos %}
            <div style="width: 200px; margin: 0 auto; border: 1px solid lightgray; margin-bottom: 20px;"
                 onclick="location.href='{% url 'photo:detail' object.id %}';">
                <div>
                    {% if object.image %}
                        <img src="{{ object.image.url }}" height="50px;">
                    {% endif %}
                    <p> {{ object.text }} </p>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}