
{% extends 'main/base.html' %}
{% load static %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'create_profile/register.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap" rel="stylesheet">

{% endblock %}
{% block content %}
    <div id="profilecreate">
        <h1>프로필을 작성해주세요!</h1>
        <form action="" method="post" enctype="multipart/form-data">
            <div id="regtxt">
                {% csrf_token %}
                <div id="box">{{ profile_form.as_table }}</div>
                <input type="submit" id="save" value="SAVE"/>
            </div>
        </form>
    </div>

{% endblock %}
