{% extends 'main/base.html' %}
{% load static %}
{% block style %}

    <link rel="stylesheet" type="text/css" href="{% static 'create_profile/signup.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">

{% endblock %}

{% block content %}
    {% if user_form.errors %}
        <p style="color:red;">양식에 맞게 작성해주세요.</p>
    {% endif %}

    {% load staticfiles %}

    <div id="logoimg">
        <img src="{% static 'main/NAME.png' %}">
    </div>

    <div class="formbox">
        <form action="{% url 'create_profile:signup' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <div id="box">{{ user_form.as_table }}</div>
            </table>
            <button type="submit" id="save" value="음"/>
            가입하기
    </div>
    </form>
    </div>

{% endblock %}